<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.mapper.FeelogMapper">

	<select id="getAllCatByPage" parameterType="int" resultType="com.community.entity.Feelog">
		SELECT * FROM feelog c LIMIT #{0},#{1}
	</select>
	
	<select id="getCarById" parameterType="int" resultType="com.community.entity.Feelog">
		SELECT * FROM feelog c WHERE c.id = #{0}
	</select>
	
	<update id="updateCar" parameterType="com.community.entity.Feelog">
		UPDATE feelog
		<set>
			<if test="plateNum != null and plateNum !='' ">plateNum=#{plateNum}</if>
			<if test="parkNum != null">parkNum=#{parkNum}</if>
			<if test="brand != null and brand !='' ">brand=#{brand}</if>
			<if test="color != null and color !='' ">color=#{color}</if>
		    <if test="startTime != null">startTime=#{startTime}</if>
			<if test="serialNumber != null and serialNumber !='' ">serialNumber=#{serialNumber}</if>
			<if test="endTime != null">endTime=#{endTime}</if>
			<if test="userId != null">userId=#{userId}</if>
			<if test="realName != null and realName !='' ">realName=#{realName}</if>
			<if test="roomId != null">roomId=#{roomId}</if>
		</set>
		WHERE id =#{id}
	</update>
	
	<update id="deleteCarById" parameterType="int">
		UPDATE feelog 
		SET status = 0
		WHERE id = #{0}
	</update>
	
	<insert id="addCar" parameterType="com.community.entity.Feelog">
		INSERT INTO feelog(
			plateNum,
			parkNum,
			brand,
			color,
			startTime,
			serialNumber,
			endTime,
			userId,
			realName,
			roomId,
			status
		)VALUES(
			#{plateNum},
			#{parkNum},
			#{brand},
			#{color},
			#{startTime},
			#{serialNumber},
			#{endTime},
			#{userId},
			#{realName},
			#{roomId},
			#{status}
		)
	</insert>
	
</mapper>